version: 2
updates:
  - package-ecosystem: npm
    directory: "/" 
    schedule:
      interval: daily
      time: "09:00" 
    assignees:
      - xenatisch
    labels:
      - dependencies

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "09:00"
    assignees:
      - xenatisch
