/* Base elements
*/

body {
    -webkit-font-smoothing: antialiased;
    -moz-ononesx-font-smoothing: grayscale;

    & .govuk-header {
        border-color: #1d70b8;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
    overflow: visible;
    width: auto;
    padding: 0;
    border: none;
    margin: 0;

    /* Corrects inability to style clickable `input` types in iOS */
    appearance: none;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}
