/* Cookie Banner
*/

.gem-c-cookie-banner {
    padding: 20px 0;
}

.gem-c-cookie-banner__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.gem-c-button {
    display: inline-block;
    width: auto;
    flex-basis: 10rem;
    flex-grow: 1;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: baseline;
}

.gem-c-cookie-banner__confirmation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p {
        margin-bottom: 0;
    }

    & button {
        color: #1d70b8;
        cursor: pointer;
    }
}

.gem-c-notice {
    padding: 15px;
    border: 5px solid #1d70b8;
    margin-bottom: 30px;
    clear: both;
    color: #0b0c0c;

    & h2 {
        margin-bottom: 20px;
    }
}
