/* GOVUK Extensions
*/

svg.back-to-top {
    display: inline-block;
    width: .8em;
    height: 1em;
    margin-top: -5px;
    margin-right: 10px;
    vertical-align: middle;
}


.govuk-table__cell--date {
    font-variant-numeric: tabular-nums;
}

.govuk-main-wrapper {
    padding-top: 0;
    width: 100%;
}

@include govuk-media-query($until: tablet) {
  .govuk-width-container:not(.govuk-header__container) {
    margin-right: 5px;
    margin-left: 5px;
  }
}


.govuk-footer__meta {
  @extend .govuk-footer__meta;
  display: flex;
  margin: .5rem 1rem;
}

.govuk-list--dashed {
  & > li::before {
    content: "\2014";
    padding-right: 0.5rem;
    color: #7f7f7f;
  }
}

dl.metrics {
  display: grid;
  grid-template-columns: 1fr;
  max-width: initial;

  & > dt {
    display: block;
    margin-bottom: 0.5rem;
  }

  & > dd {
    display: block;
    justify-self: stretch;
    max-width: initial;
    width: initial;
    margin-bottom: 2rem;
  }
}

.govuk-accordion__section-summary {
  margin-top: 0;
  margin-left: 0 !important;
}