/* Layout
*/

.govuk-grid-column-menu {
    width: 14%;
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 4px;
}


.govuk-grid-column-dashboard {
    width: 86%;
    float: left;
}
