/* Menu button
*/

.app-header-mobile-nav-toggler-wrapper {
    display: block;
    float: right;
    position: relative;
    top: -20px;
}

.app-header-mobile-nav-toggler {
    display: none;
    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.app-header-mobile-nav-toggler,.app-header-mobile-nav-toggler:hover {
    background-color: transparent
}

.app-header-mobile-nav-toggler::after {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 8.66px 5px 0 5px;
    border-top-color: inherit;
    content: "";
    margin-left: 5px;
    border-top-color: currentColor
}

.app-header-mobile-nav-toggler--active::after {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-width: 0 5px 8.66px 5px;
    border-bottom-color: inherit;
    border-bottom-color: currentColor
}

@media (max-width: 40.0525em) {
    .js-enabled .app-header-mobile-nav-toggler {
        display:inline
    }
}
