/* Tooltip */


.tooltip {
    width: 150px;
    padding: 8px 10px;
    font-family: "GDS Transport", Arial, sans-serif !important;
    font-size: 12pt !important;
    z-index: 999999;
    font-weight: normal;
    line-height: 1.3rem;
}
