@charset "UTF-8";
// Global settings
$govuk-fonts-path: "https://coronavirus.data.gov.uk/assets/govuk-frontend/govuk/assets/fonts/";
$govuk-images-path: "https://coronavirus.data.gov.uk/assets/govuk-frontend/govuk/assets/images/";
$govuk-page-width: 1920px;
$govuk-font-family: "GDS Transport", Arial, sans-serif;
$govuk-breakpoints: (
  mobile:  768px,
  tablet:  768px,
  desktop: 769px
) !default;

$primary-colour: #1d70b8;
$govuk-secondary-text-colour: #6B7276;

@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: normal;
  src: url($govuk-fonts-path + "light-94a07e06a1-v2.woff2") format("woff2"), url($govuk-fonts-path + "light-f591b13f7d-v2.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: bold;
  src: url($govuk-fonts-path + "/bold-b542beb274-v2.woff2") format("woff2"), url($govuk-fonts-path + "bold-affa96571d-v2.woff") format("woff");
  font-display: fallback;
}

// GOVUK Frontend
@import 'node_modules/govuk-frontend/govuk/all';

@import 'sass/base-elements';
@import 'sass/cookie-banner';
@import 'sass/banner';
@import 'sass/govuk-extensions';
@import 'sass/markdown';
@import 'sass/accessibility';
@import 'sass/dashboard';
@import 'sass/side-navigation';
@import 'sass/sticky-header';
@import 'sass/day-picker';
@import 'sass/tooltip';
@import 'sass/utility';
@import 'sass/select';
@import 'sass/prioritised';