$govuk-assets-path: "~govuk-frontend/govuk/assets/";
$govuk-page-width: 1045px;
$govuk-font-family: "GDS Transport", Arial, sans-serif;
@import "node_modules/govuk-frontend/govuk/all";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-ononesx-font-smoothing: grayscale;
  background-color: #fff;
  color: #0b0c0c;

  & .govuk-header {
    border-color: #1d70b8;
  }

  & .gem-c-cookie-banner {
    padding: 20px 0;
  }

  & .gem-c-cookie-banner__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  & .gem-c-button {
    flex-grow: 1;
    flex-basis: 10rem;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    width: auto;
    vertical-align: baseline;
  }

  & .gem-c-cookie-banner__confirmation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p {
      margin-bottom: 0;
    }

    & button {
      color: #1D70B8;
      cursor: pointer
    }
  }

  & .gem-c-notice {
    color: #0b0c0c;
    padding: 15px;
    margin-bottom: 30px;
    clear: both;
    border: 5px solid #1d70b8;

    & h2 {
      margin-bottom: 20px;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// Sticky table headers
thead.govuk-table__head th{
  position: sticky;
  top: 0;
  background-color: #fff;
}

// No gap at top of list to prevent list bleedthrough above thead
.js-enabled .govuk-tabs__panel {
    padding-top: 0;
}
.js-enabled .govuk-tabs__panel  .govuk-table__header {
    padding-top: 20px;
}


.about .markdown,
.accessibility .markdown,
.disclaimer .markdown {

  #table-of-contents {
    @extend .govuk-heading-m;
  }

  & p {
    @extend .govuk-body;

    & + h2 {
      margin-top: 1.5em;
    }

    & + h3 {
      margin-top: 1em;
    }

    & + h4 {
      margin-top: .8em;
    }
  }

  & h1 {
    @extend .govuk-heading-xl;
    margin-top: 18px;
  }

  & h2 {
    @extend .govuk-heading-l;
    margin-top: 16px;
  }

  & h3 {
    @extend .govuk-heading-m;
    margin-top: 12px;
  }

  & h4 {
    @extend .govuk-heading-s;
    margin-top: 10px;
  }

  & a {
    @extend .govuk-link;
  }

  & ul {
    @extend .govuk-list;

    &:not(:first-of-type) {
      @extend .govuk-list--bullet;
    }
    &:first-of-type {
      margin-bottom: 3em;

      & a {
        @extend .govuk-link--no-visited-state;
      }

      & p {
        margin-bottom: .8rem;
      }

      & ul {
        margin-left: 1em;
        margin-bottom: 1em;
      }
    }
  }

  & hr {
    @extend .govuk-section-break;
    @extend .govuk-section-break--l;
  }

}

.disclaimer .markdown {
  & * {
    font-size: .8rem !important;
  }
}

svg.back-to-top {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle;
}



/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

// === New design

// Layout

.govuk-grid-column-menu {
    width: 14%;
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 4px;
}


.govuk-grid-column-dashboard {
    width: 86%;
    float: left;
}


/* ==========================================================================
   #SIDE NAVIGATION
   ========================================================================== */

.moj-side-navigation {
  @include govuk-font(16);

  @include govuk-media-query($until: tablet) {
    display: flex;
    overflow-x: scroll;
  }

  @include govuk-media-query($from: tablet) {
    display: block;
    padding: govuk-spacing(4) 0 0;
  }

}

.moj-side-navigation__title {
  @include govuk-font($size: 19);
  color: govuk-colour("dark-grey");
  font-weight: normal;
  margin: 0;
  padding: govuk-spacing(2);
  padding-left: govuk-spacing(2) + 4px;

  @include govuk-media-query($until: tablet) {
    display: none;
  }

}

.moj-side-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include govuk-media-query($until: tablet) {
    display: flex;
    margin: 0;
    white-space: nowrap;
  }

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(4);
  }
}

.moj-side-navigation__item {

  @include govuk-media-query($until: tablet) {
    display: flex;
  }

  a,
  a:link,
  a:visited {
    background-color: inherit;
    color: govuk-colour("blue");
    display: block;
    text-decoration: none;

    @include govuk-media-query($until: tablet) {
      border-bottom: 4px solid transparent;
      padding: govuk-spacing(3);
      padding-bottom: govuk-spacing(3) - 4px; // Compensate for 4px border
    }

    @include govuk-media-query($from: tablet) {
      background-color: inherit;
      border-left: 4px solid transparent;
      padding: govuk-spacing(2);
    }


  }

  a:hover {
    border-color: govuk-colour("light-blue");
  }

  a:focus {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    border-color: $govuk-focus-text-colour;
    border-left-color: transparent;
    position: relative;
  }

}

.moj-side-navigation__item--active {

  a:link,
  a:visited {
    border-color: govuk-colour("blue");
    color: govuk-colour("blue");
    font-weight: bold;
  }

  a:focus {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    border-color: $govuk-focus-text-colour;
    border-left-color: transparent;
  }

  @include govuk-media-query($from: tablet) {
    a:link,
    a:visited {
      background-color: govuk-colour("light-grey");
    }

    a:focus {
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
      border-color: transparent;
    }
  }


}
