# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build

on:
  push:
    branches:
      - v3-development
      - master

  pull_request:
    branches: 
      - v3-development
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    strategy:
      matrix:
        os:
          - ubuntu-latest
        node-version:
          - 14

    steps:
    - uses: actions/checkout@master

    - name: Set up Node.js version ${{ matrix.node-version }}
      uses: actions/setup-node@v2.2.0
      with:
        node-version: ${{ matrix.node-version }}
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'

    - name: Install dependencies
      run: |
        npm install
        yarn install

    # NOTE: Do NOT use trailing slashes in the URLs.
    # ATTENTION: `BASE_URL` must have the HTTP(S) protocol, but other URLs must not.
    - name: Build
      env:
        CI: false
        BUILD_ENV: development
        BASE_URL: https://covid19statdev.azureedge.net
        MAIN_CDN: c19pubdev.azureedge.net
        DOWNLOADS_CDN: c19downloadsdev.azureedge.net
        NODE_ENV: production

      run: |
        npm run build
